@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WorkCalendarik.Domain.ViewModels.LogAndReg
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkCalendarik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WorkCalendarik.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/logreg.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/catalogue.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/images/da.png" type="image/png">
    <asp:ScriptManager ID="asm" runat="server" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid header-elems">
                <img src="/images/da.png" style="width: 32px; aspect-ratio: 1/1;" alt="logo" />
                <a class="navbar-brand" style="align-self: center; padding: 1% 0; margin: 0 4% 0 5px;" asp-area="" asp-controller="Home" asp-action="Index">WorkCalendarik</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <img src="https://i.gifer.com/2eSd.gif" class="snow" />

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div>
                                <a class="nav-link text-dark" id="autopark" asp-area="" asp-controller="BronCalendars" asp-action="ListOfBronCalendars">Календари</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div>
                                <a class="nav-link text-dark" id="countries" asp-area="" asp-controller="Home" asp-action="Contacts">Наши Контакты</a>
                            </div>
                        </li>
                    </ul>
                    <div class="nav-item" style="justify-content: right; justify-items: right">
                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-dark" id="click-to-hide" onclick="window.location.href = '@Url.Action("Logout", "Home")'">Logout</a>
                            }
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-dark" id="click-to-hide">Login/Registration</a>
                            }
                        </div>
                    </div>
                    
                </div>
            </div>
        </nav>
        @await Html.PartialAsync("_LogReg")
        @await Html.PartialAsync("_ConfirmEmailPartial", new ConfirmEmailViewModel())
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-left">
            <div class="logo">WorkCalendarik</div>
            <p style="margin-left: 0">
                Надежный партнер в ваших планах на день. Покупка календарей с комфортом и гарантией качества. <br/>
                Просим связаться с нами, если возникли какие-то вопросы: + 373 (779) 4-36-18
            </p>
            <div class="footer-WheelDeal">
                &copy; 2024 - OOO «IlyaMyramec» - WorkCaledarik
            </div>
        </div>

        <div class="footer-right">
            <a href="@Url.Action("Index", "Home")">Главная</a>
            <a href="@Url.Action("ListOfCategories", "Categories")">Календари</a>
            <a href="@Url.Action("Contacts", "Home")">Наши Контакты</a>
            <a href="@Url.Action("Privacy", "Home")">Политика конфиденциальности</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdownList.js" asp-append-version="true"></script>
    <script src="~/js/logreg.js" asp-append-version="true"></script>
    <script src="~/js/catalogue.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
